$sm:360px;
$md:720px;
$lg:1200px;
@media(min-width:$sm){}
@media(min-width:$md){}
@media(min-width:$lg){}

*{
    margin: 0;
    padding: 0;
}
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Lato;
    letter-spacing: 0.7px;
    nav{
        position: fixed;
        width:100%;
        height: 100px;
        text-align: center;
        @media(min-width:$md){
            height:120px;
        }
        h1{
            letter-spacing: 2px;
            @media(min-width:$sm){
                font-size: 2.2rem;
                padding: 40px 0;
                text-transform: uppercase;
            }
            @media(min-width:$md){  
                display: inline-block;
                width: 70%;       
                font-size: 2.8rem;
                margin-bottom: 40px;        
            }
            @media(min-width:$lg){
                font-size: 3rem;
            }
        }
        button{
            @media(min-width:$sm){
                display: none;
            } 
            @media(min-width:$md){
                display: inline-block;                     
                text-transform: uppercase;
                font-size: 2rem;
                font-family: inherit;
                font-weight: bold;
                transition: 0.3s;
                border-radius: 10px;
                a{
                    text-decoration: none;
                    display: block;
                    padding: 10px 20px;
                }
            }
        }
    }
    
    .container{
            text-align: center;
            padding-top: 130px;
            min-height: 100vh;
        @media(min-width:$md){
            padding-top: 160px;
        }   
        @media(min-width:$lg){
            width:70vw;
            padding-top: 300px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: none;
        }
        
        
        .first{
            a{
                text-decoration: none;
                font-weight: bold;
            }
            @media(min-width:$sm){
                display: flex;
                align-content: space-around;
                flex-direction: column;
                padding-bottom: 30px;
                    img{
                        width:60vw;
                        border-radius: 10px;
                        margin:0 auto 20px;
                        align-self:flex-start;
                    }                  
            } 
            @media(min-width:$md){
                flex-direction: row;
                    img{
                        margin: 20px 20px 0 40px;
                    }
                    p{
                        margin-right: 20px;
                    }
            }
            @media(min-width:$lg){
                    width:80vw;
                    margin:0 auto 40px;
                    img{
                        width:30vw;
                    }
                    p{
                        width:40vw
                    }
            }
        }
        .second{
            @media(min-width:$sm){

                img{
                    width: 80vw;
                    margin:20px auto;
                    border-radius: 20px;
                }
            }
            @media(min-width:$md){
                img{
                    margin-top: 60px;
                    margin-bottom: 40px;
                }
            }
            @media(min-width:$lg){
                img{
                    width:50vw;
                }
            }
        }
        p, li, span{
            @media(min-width:$sm){
                font-size: 1.6rem;
                text-align: justify;
                padding: 5px 20px;
            }
            @media(min-width:$md){
                font-size: 2.2rem;
            }
            @media(min-width:$lg){
                font-size: 2.6rem;
            } 
        }
        ul{
            list-style: none;
            @media(min-width:$md){
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            li{
                @media(min-width:$sm){
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                }
                @media(min-width:$md){
                    width: 40%;
                    margin-left: auto;
                    margin-right: auto;
                }
                @media(min-width:$lg){
                    width:43%;

                    }
                }
                span{
                    @media(min-width:$md){
                        padding-top: 40px;
                        padding-bottom: 40px;
                        font-size: 1.6rem;
                    }
                    @media(min-width:$lg){
                        font-size: 2rem;
                    }
                }
            }
        
     }
}