@import 'layout';
$shadow:rgba(0, 217, 255, 0.753);
html{
    font-size: 10px;
}
body.edward{   
    background-image: url(../img/flash.jpg);
    box-shadow: inset 0 0 10px 10px $shadow ;
    color: rgb(70, 191, 224);
    nav{
        background: rgb(2,0,36);
        background: linear-gradient(27deg, rgba(2,0,36,1) 0%, rgb(20, 9, 121) 56%, rgb(103, 226, 220) 100%);
        button{
            box-shadow: 0 0 5px 5px $shadow ;
            color: $shadow;
            background-color: rgb(183, 219, 219);
                a{
                    color: rgb(3, 8, 51);
                    &:hover{
                        color: rgb(2, 17, 17);
                    }
                }

                &:hover{
                    background-color: $shadow;
                }
        }
    }
        .color{
            background-color:rgba(5, 37, 80, 0.52) ;
                a{
                    color: rgb(10, 1, 8);
                    text-transform: uppercase;
                    &:hover{
                        background-color:rgba(8, 21, 80, 0.671);;
                    }
                }
                img{
                    box-shadow: 0 0 5px 5px $shadow;
                }
                li{
                    border-bottom: 1px solid $shadow;
                    border-left: 1px solid $shadow;
                    background-color:rgba(10, 26, 77, 0.575) ;
                }
                
        }
}