@import 'layout';

html{
    font-size: 10px;
    color: rgb(247, 237, 235);
}

body.bassy{ /* tak wybieramy body o konkretnej klasie, bez spacji */
    background-image: url(../img/fire.webp); // to jest ścieżka obrazka względem styli
   
        .color{
            background-color: rgba(151, 52, 34, 0.637);
            box-shadow: inset 0 0 5px 5px red;

            .container{
                                   
                    ul{
                        li{
                            border-bottom: 1px solid red;                            
                        }
                    }                                       
                   img{
                        box-shadow: 0 0 5px 5px red;
                    }
                    section{
                        padding-bottom: 40px;
                    } 

                @media(min-width:720px){

                    .first{
                        border-bottom: 2px solid red;
                    }
                    .second{                        
                            li{
                                border-left: 1px solid red;
                                border-bottom: 1px solid red;
                            }
                        
                    }
                    button{ 
                        border: 2px solid red;
                        box-shadow: 0 0 5px 5px red;
                        color: red;
                        
                            a{
                                color: red;
                                &:hover{
                                    color: white;
                                }
                            }
                            &:hover{
                                background-color: rgba(255, 0, 0, 0.548);
                                color: white;
                            }
                    }
                } 
                
            }
           
    }
}