// @import 'styleBassy';
// @import 'styleCiel';


$mo-shadow-color: rgba(230, 195, 241, 0.637);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html{
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;;
    
    }
    body{

        div.startPage{
            background-color: rgba(0, 0, 0, 0.527);
            padding-bottom: 40px;

            button.ham{
                position: fixed;
                padding: 10px;
                display: inline-block;
                cursor: pointer;
                background-color: transparent;
                border: 0;
                margin: 10px 0;
                left: 20px;
                    &:hover{
                        box-shadow:0 0 2px 0 violet; ;
                        border-radius: 50px;
                    }
            }
            .ham-box{
                width: 30px;
                height: 30px;
                display: inline-block;
                position: relative;    
            }
            @mixin ham-line{
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: rgb(67, 207, 91);  
            }
            .ham-inn{
                @include ham-line;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                    &::before{
                        content: '';
                        @include ham-line;
                        left: 0;
                        top: -10px;
                    }
                    &::after{
                        content: '';
                        @include ham-line;
                        left: 0;
                        top: 10px;
                    }
            }
            .ham--active .ham-inn{
                background-color: transparent;
            }
            .ham--active .ham-inn::before{
                transform:translateY(10px) rotate(45deg);
            }
            .ham--active .ham-inn::after{
                transform:translateY(-10px) rotate(-45deg);
            }
            div.navigation--active{
                transform: translateX(0px);
            }
            .navigation{
                
                width: 170px;
                background-color: rgba(18, 36, 139, 0.938);
                position: fixed;
                top: 60px;
                left: 0;
                transform: translateX(-170px);
                transition: transform .3s .1s ease-in-out;
                z-index: 1;
                padding: 10px;
                border-radius: 20px;
                
               

                
                a{
                    display: block;
                    text-decoration: none;
                    margin: 20px 10px;
                    text-align: left;
                    font-size: 1.8rem;
                    font-weight: bold;
                    color:rgb(67, 207, 91);;
                    border-bottom: 1px solid rgb(67, 207, 91);
                }
            }
            
        }
        @media(min-width:1200px){
            div.container{
                width:80vw;
                // padding: 0 4vw;
                margin-left: 10vw; 

                    button.ham{
                        left: 80px;
                        top: 40px;
                    }
                    div.navigation--active{
                        transform: translateX(10px);
                    }
                    .navigation{    
                        top: 100px;
                    }
            }
        }
        @media(min-width:1600px){
            div.container{
                width:60vw;
                margin-left: 20vw;       
            
                button.ham{
                    left: 100px;
                    top:60px;
                }
                div.navigation--active{
                    transform: translateX(40px);
                }
                .navigation{
                    top: 120px;
                    
                }
             }
        }
        li{
            list-style: none;
        }

        header{
            position: relative;
            background-image: url("../img/drugietlo.webp");
            background-repeat: no-repeat;
            background-size: cover;
            text-transform: uppercase;
            color: rgb(248, 204, 248);
            box-shadow: 10px 0 10px 10px violet;
            
            
            h1{
                font-size: 2.6rem;
                padding:70px 20px 10px;
                font-weight: bolder;
                // background: rgb(2,0,36);
                // background: linear-gradient(27deg, rgb(5, 4, 20) 0%, rgba(12, 6, 97, 0.465) 70%, rgb(234, 0, 255) 100%);
            }            
            h2, h3{
                font-size: 1.7rem;
                padding: 20px ;
                font-weight: bolder;
            }
           
        
           @keyframes move{
            0%   { opacity:0; left:-90px; top:0px;}
            25%  {opacity:1; left:0px; top:0px;}
            50%  { opacity:1;left:0px; top:0px;}
            75%  {left:110px; top:0px;}
            90%  {opacity:0}
            100% {opacity:0; left:110px; top:0px;}
            }
           
            img{
                position: relative;
                width: 40%;
                border-radius: 50%;
                box-shadow:  0 0 10px 10px rgba(214, 170, 214, 0.671);
                animation-name: move;
                animation-duration: 9s;
                animation-delay: 1.3s;
                animation-iteration-count: infinite;

            }

            @media(min-width:720px){
                @keyframes move{
                    0%   { opacity:0; left:-250px; top:0px;}
                    25%  {opacity:1; left:0px; top:0px;}
                    50%  { opacity:1;left:0px; top:0px;}
                    75%  {opacity:0;left:250px; top:0px;}
                    100% {opacity:0; left:250px; top:0px;}
                    }
            }
            @media(min-width:996px){
                @keyframes move{
                    0%   { opacity:0; left:-300px; top:0px;}
                    25%  {opacity:1; left:0px; top:0px;}
                    50%  { opacity:1;left:0px; top:0px;}
                    75%  {opacity:0;left:300px; top:0px;}
                    95%  {opacity:0}
                    100% {opacity:0; left:300px; top:0px;}
                    }
                h1{
                    font-size: 4rem;
                    
                }
                h2, h3{
                    padding: 30px;
                }
                li a{
                    font-size: 1.5rem;
                }
                img{
                    margin-bottom: 10%;
                }
            }
            @media(min-width:1200px){
                @keyframes move{
                    0%   { opacity:0; left:-400px; top:0px;}
                    25%  {opacity:1; left:0px; top:0px;}
                    50%  { opacity:1;left:0px; top:0px;}
                    75%  {opacity:0;left:400px; top:0px;}
                    95%  {opacity:0}
                    100% {opacity:0; left:400px; top:0px;}
                    }
                h1.title{
                    text-align: center;    
                }
                h2, h3{
                    font-size: 2.6rem;
                }
            }
         
        }
        // jaro
        main {
            .description,
            .description1 {
                @media(min-width:900px){
                line-height: 1.5em;
                }
            }

            p.info-list {
                text-decoration: underline;
            }
        } //

        section#black {
            background-image:url(../img/petals.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: center;
            box-shadow: inset 0 0 5px 5px rgb(190, 183, 190);
            padding-bottom: 40px;
            
            h1{
                font-size: 2.5rem;
                padding-top: 5%;
                margin-bottom: 2%;
                text-transform: uppercase;
                color: rgb(107, 97, 116);
            }
            p{
                text-align: justify;
                padding: 2% 5%;
                color: rgb(107, 97, 116);
                font-size: 1.4rem;
                // font-weight: bold;
            }
            img+p{
            float: right;
                width: 38%;
                padding-top: 5%;
                margin-bottom: 10%;
                margin-right:2%
                //  height: 50vh;

                //  &::after{
                //     background-color: brown;
                //     content: "";
                //     clear: both;
                //     display: block;
                // }
            }
           p+p{
               padding-top: 0;
           }
            img{
                display:inline-block;
                width: 40%;
                margin: 12% 0 2% 2%;
                max-width: 200px;
                border-radius: 5%;
                box-shadow: 0 0 10px 10px rgb(190, 183, 190);
            
            }
            a{
                text-decoration: none;
                font-weight: bolder;
                color: blueviolet;
                font-size:1.3rem
            }
            a:hover{
                background-color:rgb(235, 188, 235) ;
            }
            li{
                color:rgb(107, 97, 116) ;
                font-size: 1.2rem;
                text-align: left;
                padding: 0.5% 5%;
            }
            @media(min-width:560px){
                p{
                    font-size: 1.6rem;
                }
                img{
                    max-width: 300px;
                    margin-top: 5%;
                }
            }
            @media(min-width: 720px){
                img{
                    margin-left: 80px;
                }
                p{
                    font-size: 1.8rem;
                }
                h1{
                    font-size: 3rem;
                }
                a{
                    font-size: 2rem;
                }
            }
            @media(min-width: 996px){
                img{
                    margin-left: 50px;
                    margin-right: 50px;
                    box-shadow: 0 0 20px 30px rgb(190, 183, 190);
                    max-width:350px;
                }
                p{
                    font-size: 2rem;
                }
                img+p{
                    margin-bottom: 5%;
                }
                li{
                    font-size: 1.8rem;
                }
            }
            @media(min-width:1200px){
                p{
                    font-size: 2.5rem;
                }
                a{
                    font-size: 3rem;
                }
                li{
                    font-size: 2rem;
                }
                img{
                    max-width: 300px;
                }
            }
        
        }
        section#alchemist{
            
            background-image: url(../img/space.webp);            
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: azure;
            font-weight: normal;
            box-shadow: inset 0 10px 10px rgb(228, 219, 228);

            .clearfix{
                padding: 30px;
                padding-top: 5%;

                &::after{
                    content:" ";
                    display: block;
                    clear: both;
                }
            }

           
           
            img{
                display:block;
                width:30%;
                float: left;
                margin:5% 10px 0 10px;
                border-radius: 10%;
                box-shadow: 0 0 5px 5px rgb(228, 219, 228);
            }
            img:nth-of-type(2){
                float: right;
                margin: auto;
                margin-left: auto;
                padding: 0;
            }
            h1{
                // padding-bottom:40px;
                font-size: 2rem;
                font-weight: normal;
                float: left;
                width: 30%;

                @media(max-width:400px) {
                    font-size: 1.6rem;
                    
                }

            }
            p{
                text-align: justify;
                font-size: 1.6rem;
                margin:20px 20px;
            }
            a{
                text-decoration: none;
                color:greenyellow;
                text-transform: uppercase;
            }
            a:hover{
                color: honeydew;
                background-color: yellowgreen;
            }
            li{
                text-align: left;
                margin-left:20px;
                margin-bottom: 5px;
            }
            ul{
                padding-bottom: 20px;
                font-size: 1.2rem;
                font-weight:100;
            }
            @media(min-width:720px){
                h1{
                    font-size: 3rem;
                }
                p{
                    font-size: 2rem;
                    margin-left: 40px;
                    margin-right: 40px;
                }
                li{
                    font-size: 1.8rem;
                    margin-left: 40px;
                }
                h1+p{
                    margin-top: 60px;                    
                }
                img{
                    margin-left: 40px;
                }
                img+img{
                    margin-right: 40px;
                    margin-left: 10px;
                }
               
            }
            @media(min-width:1200px){
                p, li{
                    font-size: 2.5rem;
                    margin-bottom: 40px;
                }
                h1{
                    font-size: 4rem;
                }
                img{
                    margin:50px;
                }
               img+img{
                   margin: 50px ;
               }
            }
        }
        section#jojo{
            font-size: 1.6rem;
            background-image: url(../img/banner-1711743__340.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color:white;
            box-shadow: inset 0 0 5px 5px red;
            letter-spacing: 0.7px;
            font-weight: 100;

            div.bColor{
                background-color: rgba(134, 41, 41, 0.904);
                z-index: 100;

            }
            img{
                // padding: 20px;
                display:block;
                margin:40px auto;
                border-radius: 50px;
                box-shadow: 0 0 10px 10px red;
            }
            img:nth-of-type(1){
                width: 80vw;
            }
            h1{
                padding-top: 20px;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 2.5rem;
            }
            img+p{
                margin-bottom: 5px;
            }
            p{
                text-align: justify;
                padding: 0 20px;
            }
            
            a{
                text-decoration: none;
                font-size: 2rem;
                color: black;
            }
            a:hover{
                background-color: white;
            }
            li{
                text-align: left;
            }
            ul{
                margin-left: 20px;
                padding-bottom: 40px;
            }
            @media(min-width:720px){

                div.container{
                    padding: 0 20px;
                }
                h1{
                    font-size: 3.5rem;
                }
                p{
                    font-size: 2.5rem;
                }
                a{
                    font-size: 3rem;
                }
            }
            @media(min-width:1200px){
                img:nth-of-type(1){
                    width:50vw;
                }
                p{
                    font-size: 2.6rem;
                }
                li{
                    font-size: 2.5rem;
                    padding-bottom: 20px;
                }
                a{
                    font-size: 3.5rem;
                }
                h1{
                    padding-top: 60px;
                }
            }
        }
        section#fate{
            background-image: url(../img/gold-313346__340.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 10px 10px rgb(161, 142, 31);
            color: rgb(77, 34, 34);

            div.first, div.second{
                display: flex;
                margin:0 20px;
                padding: 30px 0;
                justify-content: space-around;
                gap: 20px;
                align-items: center;
                border-bottom: 1px solid rgb(161, 142, 31); 
                flex-wrap: wrap;               
            }
            img{
                display: block;
                width: 50vw;
                border-radius: 10%;
                box-shadow: 0 0 10px 10px rgb(161, 142, 31) ;                
            }
            img:nth-of-type(1){
                
                align-self: start;
            }
            h1{
                text-transform: uppercase;
                padding-top: 40px;
                font-size: 2rem;
                border-bottom: 2px solid rgb(161, 142, 31);
            }
            p{
                text-align: justify;
                flex-grow: 1;
                font-size: 1.6rem;
            }
            li{
                text-align: left;
                font-size: 1.3rem;
            }
            ul{
                padding: 5px 0 20px 20px;
            }
            div+p{
                padding-left: 20px;
            }
            a{
                text-decoration: none;
                color: red;
                text-transform: uppercase;
            }
            a:hover{
                background-color:rgb(161, 142, 31) ;
            }
            @media(min-width:720px){
                div.container{
                    padding: 0 20px;
                    
                     .second{
                        flex-wrap: nowrap;
                    }
                
                    h1{
                        font-size: 3.5rem;
                    }
                    p{
                        font-size: 2.5rem;
                        width:60vw;
                    }
                    a{
                        font-size: 3rem;
                    }
                    li{
                        font-size: 2.3rem;
                    }
                    img{
                        width:30vw
                }
            }
                @media(min-width:1200px){
                    p{
                        font-size: 3rem;
                    }
                    h1{
                        margin-bottom: 50px;
                    }
                }
            }
        }
    } 
        section#mo{
            background-image: url(../img/sunset-4086848__340.webp);
            background-repeat: repeat;
            background-size: cover;
            background-position: center;
            color: rgb(95, 4, 75);
            box-shadow: inset 0 0 10px 10px $mo-shadow-color; 

            h1{
                font-size: 2.5rem;
                padding: 40px 0;
                margin: 0 20px;
                text-transform: uppercase;
                border-bottom:1px solid $mo-shadow-color;
            }
            div.container{
                
                z-index: 100;
            
            }
            p, li{
                font-size: 1.6rem;
                text-align: justify;
                padding:0 20px;
                flex-grow: 1;
            }
            .first, .second, .third{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-content: space-around;
                margin: 0 20px;
                padding: 20px 0;
                border-bottom: 1px solid $mo-shadow-color;
            }
            img{
                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                flex-shrink: 1;
                border-radius: 20px;
                box-shadow:  0 0 10px 10px $mo-shadow-color;
                // transition: .3s;

                // &:hover{
                //     transform: scale(1.1);
                // }
            }
            .first{
                img{
                    align-self: flex-start;
                    width: 60vw;
                }
            }

            .second{
                img{
                    order: 1;
                    margin-left: 20px;
                    align-self: flex-start;
                }
            }
            .third{
                div{
                    flex-direction: column;
                    align-content: space-around;

                    p{
                        margin:20px 0;
                    }
                    li{
                        margin: 5px 0;
                    }
                    
                }
                img{
                    width: 70vw;
                }
            }
            a{
                text-decoration: none;
                text-transform: uppercase;
                color:rgb(9, 9, 126);
            }
            a:hover{
                background-color:rgba(9, 9, 126, 0.322) ;
            }
        
            @media(min-width:720px){
                h1{
                    font-size: 3rem;
                }
                p, li{
                    font-size: 2.3rem;
                }
               .first, .second, .third {
                    flex-wrap: nowrap;

                        img{
                            width: 40vh;
                        }
                }

            }
            @media(min-width:1200px){
                p,li{
                    font-size: 2.6rem;
                }
            }
        }   

.d-none {
    display: none !important;
} 
.d-block {
    display: block;
}
.alfa{
    background-color: rgba(219, 168, 219, 0.5) !important;
} 
.superSchadow{
    box-shadow: 0 0 10px 10px gray !important;
}
