* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  color: #f7edeb;
}

body {
  background-image: url(img/fire.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .color {
  background-color: rgba(151, 52, 34, 0.637);
}

body .color .container {
  text-align: center;
  font-family: "Courgette", cursive;
  letter-spacing: 0.7px;
  min-height: 100vh;
  -webkit-box-shadow: inset 0 0 5px 5px red;
          box-shadow: inset 0 0 5px 5px red;
}

body .color .container h1 {
  font-size: 2.2rem;
  padding: 40px 0;
  text-transform: uppercase;
}

body .color .container p, body .color .container li {
  font-size: 1.6rem;
  text-align: justify;
  padding: 5px 20px;
}

body .color .container ul {
  list-style: none;
}

body .color .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid red;
}

body .color .container ul li span {
  padding-left: 20px;
}

body .color .container .first, body .color .container .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

body .color .container img {
  -webkit-box-shadow: 0 0 5px 5px red;
          box-shadow: 0 0 5px 5px red;
}

body .color .container .first img {
  border-radius: 10px;
  margin: 0 auto 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 60vw;
}

body .color .container .second img {
  width: 80vw;
  margin: 20px auto;
  border-radius: 20px;
}

body .color .container section {
  padding-bottom: 40px;
}

body .color .container button {
  display: none;
}

@media (min-width: 720px) {
  body .color .container h1 {
    font-size: 2.8rem;
    margin-bottom: 40px;
  }
  body .color .container p, body .color .container li {
    font-size: 2rem;
  }
  body .color .container .first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 2px solid red;
  }
  body .color .container .first img {
    margin-left: 40px;
  }
  body .color .container .second img {
    margin-bottom: 60px;
  }
  body .color .container .second ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .color .container .second ul li {
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    width: 40%;
    margin-left: 20px;
  }
  body .color .container .second ul li span {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  body .color .container button {
    display: block;
    margin: 20px auto 0;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 5px 5px red;
            box-shadow: 0 0 5px 5px red;
    color: red;
    font-family: inherit;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  body .color .container button:hover {
    background-color: red;
    color: white;
  }
}

@media (min-width: 996px) {
  body .color .container p, body .color .container li {
    font-size: 2.4rem;
  }
  body .color .container h1 {
    font-size: 3rem;
  }
  body .color .container .first p {
    width: 40vw;
  }
  body .color .container .first img {
    width: 30vw;
    margin-left: 10vw;
  }
  body .color .container .second img {
    width: 60vw;
  }
  body .color .container .second li {
    width: 48vw;
  }
}

@media (min-width: 1200px) {
  body .color div.container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .color div.container .first p {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=styleBassy.css.map */