* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 10px;
  font-family: 'Fruktur', cursive;
}

html header {
  position: relative;
  background-image: url("img/drugietlo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: #f8ccf8;
  -webkit-box-shadow: 10px 0 10px 10px violet;
          box-shadow: 10px 0 10px 10px violet;
}

html header h1, html header h2, html header h3 {
  font-size: 3rem;
  padding: 20px;
}

html header h2, html header h3 {
  font-size: 1.7rem;
}

html header button, html header nav {
  display: none;
}

html header img {
  display: inline-block;
  width: 45%;
  border-radius: 10%;
}

html header img:nth-of-type(1) {
  margin: 0 0 50px 20px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 20px 20px #d6aad6;
          box-shadow: 0 0 20px 20px #d6aad6;
}

@media (min-width: 720px) {
  html header button {
    display: block;
    margin-left: 60px;
    margin-bottom: 10px;
    padding: 5px 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #dba8db;
    border-radius: 15%;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    font-family: 'Fruktur', cursive;
    position: absolute;
    bottom: 0;
  }
  html header nav {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 60px;
  }
  html header li a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid whitesmoke;
    border-radius: 15%;
    background-color: rgba(219, 168, 219, 0.5);
    padding: 10px 4px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 60%;
    letter-spacing: 1.2px;
  }
  html header a:hover {
    background-color: #dba8db;
  }
  html header li {
    list-style: none;
  }
  html header img:nth-of-type(2) {
    margin: 10px 20px;
  }
}

@media (min-width: 996px) {
  html header h1 {
    font-size: 4rem;
    padding-top: 10%;
  }
  html header h2, html header h3 {
    padding: 30px;
  }
  html header li a {
    font-size: 1.5rem;
  }
  html header img:nth-of-type(1) {
    margin-bottom: 15%;
  }
  html header button {
    font-size: 1.5rem;
    bottom: 5%;
  }
  html header nav {
    bottom: 10%;
  }
}

@media (min-width: 1200px) {
  html header h1 {
    padding-top: 5%;
  }
  html header h2, html header h3 {
    font-size: 2rem;
  }
  html header button {
    font-size: 2rem;
    left: 5%;
    bottom: 10%;
  }
  html header nav {
    left: 10%;
    bottom: 20%;
  }
  html header li a {
    font-size: 1.5rem;
  }
  html header img:nth-of-type(2) {
    width: 20%;
    margin-left: 160px;
  }
  html header img:nth-of-type(1) {
    margin-bottom: 5%;
    width: 20%;
  }
}

html section#black {
  background-image: url(img/petals.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html section#black h1 {
  font-size: 2.5rem;
  padding-top: 5%;
  margin-bottom: 2%;
  text-transform: uppercase;
  color: blueviolet;
}

html section#black p {
  text-align: justify;
  padding: 2% 5%;
  color: #6b6174;
  font-size: 1.2rem;
}

html section#black img + p {
  display: inline-block;
  width: 38%;
  padding-top: 5%;
  margin-bottom: 10%;
  margin-left: 20px;
}

html section#black p + p {
  margin-top: 5%;
}

html section#black img {
  display: inline-block;
  width: 40%;
  margin: 12% 0 5% 2%;
  max-width: 200px;
  border-radius: 5%;
  -webkit-box-shadow: 0 0 10px 10px #beb7be;
          box-shadow: 0 0 10px 10px #beb7be;
}

html section#black a {
  text-decoration: none;
  font-weight: bolder;
  color: blueviolet;
  font-size: 1.3rem;
}

html section#black a:hover {
  background-color: #ebbceb;
}

@media (min-width: 560px) {
  html section#black p {
    font-size: 1.6rem;
  }
}

@media (min-width: 720px) {
  html section#black img {
    margin-left: 80px;
  }
  html section#black p {
    font-size: 1.8rem;
  }
  html section#black h1 {
    font-size: 3rem;
  }
  html section#black a {
    font-size: 2rem;
  }
}

@media (min-width: 996px) {
  html section#black img {
    margin-left: 150px;
    -webkit-box-shadow: 0 0 20px 30px #beb7be;
            box-shadow: 0 0 20px 30px #beb7be;
    max-width: 250px;
  }
  html section#black p + p {
    margin-top: 80px;
    padding-left: 50%;
  }
}

@media (min-width: 1200px) {
  html section#black div {
    width: 60vw;
    margin: 0 auto;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.alfa {
  background-color: rgba(219, 168, 219, 0.5) !important;
}
/*# sourceMappingURL=style.css.map */