* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 10px;
  font-family: 'Fruktur', cursive;
}

@media (min-width: 1200px) {
  body div.container {
    width: 80vw;
    margin-left: 10vw;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

body li {
  list-style: none;
}

body header {
  position: relative;
  background-image: url("img/drugietlo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: #f8ccf8;
  -webkit-box-shadow: 10px 0 10px 10px violet;
          box-shadow: 10px 0 10px 10px violet;
}

body header h1, body header h2, body header h3 {
  font-size: 3rem;
  padding: 20px;
  font-weight: normal;
}

body header h2, body header h3 {
  font-size: 1.7rem;
}

body header button, body header nav {
  display: none;
}

body header img {
  display: inline-block;
  width: 43%;
  border-radius: 10%;
}

body header img:nth-of-type(1) {
  margin: 0 0 50px 20px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 20px 20px #d6aad6;
          box-shadow: 0 0 20px 20px #d6aad6;
}

@media (min-width: 720px) {
  body header button {
    display: block;
    margin-left: 60px;
    margin-bottom: 10px;
    padding: 5px 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #974197;
    border-radius: 15%;
    color: #f8ccf8;
    border: 2px solid #f8ccf8;
    font-family: 'Fruktur', cursive;
    position: absolute;
    bottom: 0;
  }
  body header nav {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 60px;
  }
  body header li a {
    display: block;
    text-decoration: none;
    color: #f8ccf8;
    border: 1px solid #f8ccf8;
    border-radius: 15%;
    background-color: rgba(219, 168, 219, 0.5);
    padding: 10px 4px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 60%;
    letter-spacing: 1.2px;
  }
  body header a:hover {
    background-color: #974197;
  }
  body header img:nth-of-type(2) {
    margin: 10px 20px;
  }
}

@media (min-width: 996px) {
  body header h1 {
    font-size: 4rem;
    padding-top: 10%;
  }
  body header h2, body header h3 {
    padding: 30px;
  }
  body header li a {
    font-size: 1.5rem;
  }
  body header img:nth-of-type(1) {
    margin-bottom: 15%;
  }
  body header button {
    font-size: 1.5rem;
    bottom: 5%;
  }
  body header nav {
    bottom: 10%;
  }
}

@media (min-width: 1200px) {
  body header h1 {
    padding-top: 5%;
  }
  body header h2, body header h3 {
    font-size: 2rem;
  }
  body header button {
    font-size: 2rem;
    left: 6%;
    bottom: 10%;
  }
  body header nav {
    left: 10%;
    bottom: 20%;
  }
  body header li a {
    font-size: 1.5rem;
  }
  body header img:nth-of-type(2) {
    width: 20%;
    margin-left: 160px;
  }
  body header img:nth-of-type(1) {
    margin-bottom: 5%;
    width: 20%;
  }
}

body section#black {
  background-image: url(img/petals.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  letter-spacing: 0.7px;
}

body section#black h1 {
  font-size: 2.5rem;
  padding-top: 5%;
  margin-bottom: 2%;
  text-transform: uppercase;
  color: #6b6174;
}

body section#black p {
  text-align: justify;
  padding: 2% 5%;
  color: #6b6174;
  font-size: 1.2rem;
}

body section#black img + p {
  float: right;
  width: 38%;
  padding-top: 5%;
  margin-bottom: 10%;
  margin-right: 2%;
}

body section#black p + p {
  padding-top: 0;
}

body section#black img {
  display: inline-block;
  width: 40%;
  margin: 12% 0 2% 2%;
  max-width: 200px;
  border-radius: 5%;
  -webkit-box-shadow: 0 0 10px 10px #beb7be;
          box-shadow: 0 0 10px 10px #beb7be;
}

body section#black a {
  text-decoration: none;
  font-weight: bolder;
  color: blueviolet;
  font-size: 1.3rem;
}

body section#black a:hover {
  background-color: #ebbceb;
}

body section#black li {
  color: #6b6174;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5% 5%;
}

@media (min-width: 560px) {
  body section#black p {
    font-size: 1.6rem;
  }
  body section#black img {
    max-width: 300px;
    margin-top: 5%;
  }
}

@media (min-width: 720px) {
  body section#black img {
    margin-left: 80px;
  }
  body section#black p {
    font-size: 1.8rem;
  }
  body section#black h1 {
    font-size: 3rem;
  }
  body section#black a {
    font-size: 2rem;
  }
}

@media (min-width: 996px) {
  body section#black img {
    margin-left: 50px;
    margin-right: 50px;
    -webkit-box-shadow: 0 0 20px 30px #beb7be;
            box-shadow: 0 0 20px 30px #beb7be;
    max-width: 350px;
  }
  body section#black p {
    font-size: 2rem;
  }
  body section#black img + p {
    margin-bottom: 5%;
  }
  body section#black li {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  body section#black p {
    font-size: 2.5rem;
  }
  body section#black a {
    font-size: 3rem;
  }
  body section#black li {
    font-size: 2rem;
  }
  body section#black img {
    max-width: 300px;
  }
}

body section#alchemist {
  background-image: url(img/space.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: azure;
  font-weight: normal;
  letter-spacing: 0.7px;
}

body section#alchemist img {
  display: block;
  max-width: 30%;
  float: left;
  margin: 60px 10px 0 10px;
  border-radius: 10%;
}

body section#alchemist img + img {
  float: right;
  margin: 50px 10px 0 10px;
}

body section#alchemist h1 {
  padding-bottom: 40px;
  font-size: 2rem;
  font-weight: normal;
}

body section#alchemist p {
  text-align: justify;
  font-size: 1.6rem;
  margin: 20px 20px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.alfa {
  background-color: rgba(219, 168, 219, 0.5) !important;
}
/*# sourceMappingURL=style.css.map */