* {
  margin: 0;
  padding: 0;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lato;
  letter-spacing: 0.7px;
}

body nav {
  position: fixed;
  width: 100%;
  height: 100px;
  text-align: center;
}

@media (min-width: 720px) {
  body nav {
    height: 120px;
  }
}

body nav h1 {
  letter-spacing: 2px;
}

@media (min-width: 360px) {
  body nav h1 {
    font-size: 2.2rem;
    padding: 40px 0;
    text-transform: uppercase;
  }
}

@media (min-width: 720px) {
  body nav h1 {
    display: inline-block;
    width: 70%;
    font-size: 2.8rem;
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  body nav h1 {
    font-size: 3rem;
  }
}

@media (min-width: 360px) {
  body nav button {
    display: none;
  }
}

@media (min-width: 720px) {
  body nav button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: inherit;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
  }
  body nav button a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
  }
}

body .container {
  text-align: center;
  padding-top: 130px;
  min-height: 100vh;
}

@media (min-width: 720px) {
  body .container {
    padding-top: 160px;
  }
}

@media (min-width: 1200px) {
  body .container {
    width: 70vw;
    padding-top: 300px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

body .container .first a {
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 360px) {
  body .container .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
  }
  body .container .first img {
    width: 60vw;
    border-radius: 10px;
    margin: 0 auto 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 720px) {
  body .container .first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .container .first img {
    margin: 20px 20px 0 40px;
  }
  body .container .first p {
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  body .container .first {
    width: 80vw;
    margin: 0 auto 40px;
  }
  body .container .first img {
    width: 30vw;
  }
  body .container .first p {
    width: 40vw;
  }
}

@media (min-width: 360px) {
  body .container .second img {
    width: 80vw;
    margin: 20px auto;
    border-radius: 20px;
  }
}

@media (min-width: 720px) {
  body .container .second img {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  body .container .second img {
    width: 60vw;
  }
}

@media (min-width: 360px) {
  body .container p, body .container li, body .container span {
    font-size: 1.6rem;
    text-align: justify;
    padding: 5px 20px;
  }
}

@media (min-width: 720px) {
  body .container p, body .container li, body .container span {
    font-size: 2.2rem;
  }
}

@media (min-width: 1200px) {
  body .container p, body .container li, body .container span {
    font-size: 2.6rem;
  }
}

body .container ul {
  list-style: none;
}

@media (min-width: 720px) {
  body .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 360px) {
  body .container ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}

@media (min-width: 720px) {
  body .container ul li {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  body .container ul li {
    width: 43%;
  }
}

@media (min-width: 720px) {
  body .container ul span {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  body .container ul span {
    font-size: 2rem;
  }
}

html {
  font-size: 10px;
  color: #f7edeb;
}

body.bassy {
  /* tak wybieramy body o konkretnej klasie, bez spacji */
  background-image: url(../img/fire.webp);
}

body.bassy nav {
  background: #240d02;
  background: radial-gradient(circle, #240d02 8%, rgba(163, 28, 8, 0.891177) 33%);
}

body.bassy nav button {
  border: 2px solid red;
  -webkit-box-shadow: 0 0 5px 5px red;
          box-shadow: 0 0 5px 5px red;
  color: red;
}

body.bassy nav button a {
  color: red;
}

body.bassy nav button a:hover {
  color: white;
}

body.bassy nav button:hover {
  background-color: rgba(255, 0, 0, 0.548);
  color: white;
}

body.bassy .color {
  background-color: rgba(151, 52, 34, 0.637);
  -webkit-box-shadow: inset 0 0 5px 5px red;
          box-shadow: inset 0 0 5px 5px red;
}

body.bassy .color a {
  color: black;
  text-transform: uppercase;
}

body.bassy .color a:hover {
  background-color: rgba(255, 0, 0, 0.596);
}

body.bassy .color .container ul li {
  border-bottom: 1px solid red;
}

body.bassy .color .container img {
  -webkit-box-shadow: 0 0 5px 5px red;
          box-shadow: 0 0 5px 5px red;
}

body.bassy .color .container section {
  padding-bottom: 40px;
}

@media (min-width: 720px) {
  body.bassy .color .container .first {
    border-bottom: 2px solid red;
  }
  body.bassy .color .container .second li {
    border-left: 1px solid red;
    border-bottom: 1px solid red;
  }
}
/*# sourceMappingURL=styleBassy.css.map */