* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

body div.startPage {
  background-color: rgba(0, 0, 0, 0.527);
  padding-bottom: 40px;
}

body div.startPage button.ham {
  position: fixed;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 10px 0;
  left: 20px;
}

body div.startPage button.ham:hover {
  -webkit-box-shadow: 0 0 2px 0 violet;
          box-shadow: 0 0 2px 0 violet;
  border-radius: 50px;
}

body div.startPage .ham-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

body div.startPage .ham-inn {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #43cf5b;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body div.startPage .ham-inn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #43cf5b;
  left: 0;
  top: -10px;
}

body div.startPage .ham-inn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #43cf5b;
  left: 0;
  top: 10px;
}

body div.startPage .ham--active .ham-inn {
  background-color: transparent;
}

body div.startPage .ham--active .ham-inn::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

body div.startPage .ham--active .ham-inn::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

body div.startPage div.navigation--active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

body div.startPage .navigation {
  width: 170px;
  background-color: rgba(18, 36, 139, 0.938);
  position: fixed;
  top: 60px;
  left: 0;
  -webkit-transform: translateX(-170px);
          transform: translateX(-170px);
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  z-index: 1;
  padding: 10px;
  border-radius: 20px;
}

body div.startPage .navigation a {
  display: block;
  text-decoration: none;
  margin: 20px 10px;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  color: #43cf5b;
  border-bottom: 1px solid #43cf5b;
}

@media (min-width: 1200px) {
  body div.container {
    width: 80vw;
    margin-left: 10vw;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

@media (min-width: 1600px) {
  body div.container {
    width: 60vw;
    margin-left: 15vw;
  }
}

body li {
  list-style: none;
}

body header {
  position: relative;
  background-image: url("../img/drugietlo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: #f8ccf8;
  -webkit-box-shadow: 10px 0 10px 10px violet;
          box-shadow: 10px 0 10px 10px violet;
}

body header h1 {
  font-size: 2.6rem;
  padding: 70px 20px 10px;
  font-weight: normal;
}

body header h2, body header h3 {
  font-size: 1.7rem;
  padding: 20px;
  font-weight: normal;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    left: -100px;
    top: 0px;
  }
  25% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
  50% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
  75% {
    left: 150px;
    top: 0px;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 150px;
    top: 0px;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    left: -100px;
    top: 0px;
  }
  25% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
  50% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
  75% {
    left: 150px;
    top: 0px;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 150px;
    top: 0px;
  }
}

body header img {
  position: relative;
  width: 40%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 10px rgba(214, 170, 214, 0.671);
          box-shadow: 0 0 10px 10px rgba(214, 170, 214, 0.671);
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (min-width: 720px) {
  @-webkit-keyframes move {
    0% {
      opacity: 0;
      left: -200px;
      top: 0px;
    }
    25% {
      opacity: 1;
      left: 0px;
      top: 0px;
    }
    50% {
      opacity: 1;
      left: 0px;
      top: 0px;
    }
    75% {
      left: 250px;
      top: 0px;
    }
    100% {
      opacity: 0;
      left: 250px;
      top: 0px;
    }
  }
  @keyframes move {
    0% {
      opacity: 0;
      left: -200px;
      top: 0px;
    }
    25% {
      opacity: 1;
      left: 0px;
      top: 0px;
    }
    50% {
      opacity: 1;
      left: 0px;
      top: 0px;
    }
    75% {
      left: 250px;
      top: 0px;
    }
    100% {
      opacity: 0;
      left: 250px;
      top: 0px;
    }
  }
}

@media (min-width: 996px) {
  @-webkit-keyframes move {
    0% {
      opacity: 0;
      left: -200px;
      top: 0px;
    }
    25% {
      opacity: 1;
      left: 0px;
      top: 0px;
    }
    50% {
      opacity: 1;
      left: 0px;
      top: 0px;
    }
    75% {
      left: 300px;
      top: 0px;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      left: 300px;
      top: 0px;
    }
  }
  @keyframes move {
    0% {
      opacity: 0;
      left: -200px;
      top: 0px;
    }
    25% {
      opacity: 1;
      left: 0px;
      top: 0px;
    }
    50% {
      opacity: 1;
      left: 0px;
      top: 0px;
    }
    75% {
      left: 300px;
      top: 0px;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      left: 300px;
      top: 0px;
    }
  }
  body header h1 {
    font-size: 4rem;
    width: 100vw;
  }
  body header h2, body header h3 {
    padding: 30px;
  }
  body header li a {
    font-size: 1.5rem;
  }
  body header img {
    margin-bottom: 10%;
  }
}

@media (min-width: 1200px) {
  body header h1 {
    width: 100vw;
  }
  body header h2, body header h3 {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  body main .description,
  body main .description1 {
    line-height: 1.5em;
  }
}

body main p.info-list {
  text-decoration: underline;
}

body section#black {
  background-image: url(../img/petals.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: inset 0 0 5px 5px #beb7be;
          box-shadow: inset 0 0 5px 5px #beb7be;
  padding-bottom: 40px;
}

body section#black h1 {
  font-size: 2.5rem;
  padding-top: 5%;
  margin-bottom: 2%;
  text-transform: uppercase;
  color: #6b6174;
}

body section#black p {
  text-align: justify;
  padding: 2% 5%;
  color: #6b6174;
  font-size: 1.4rem;
}

body section#black img + p {
  float: right;
  width: 38%;
  padding-top: 5%;
  margin-bottom: 10%;
  margin-right: 2%;
}

body section#black p + p {
  padding-top: 0;
}

body section#black img {
  display: inline-block;
  width: 40%;
  margin: 12% 0 2% 2%;
  max-width: 200px;
  border-radius: 5%;
  -webkit-box-shadow: 0 0 10px 10px #beb7be;
          box-shadow: 0 0 10px 10px #beb7be;
}

body section#black a {
  text-decoration: none;
  font-weight: bolder;
  color: blueviolet;
  font-size: 1.3rem;
}

body section#black a:hover {
  background-color: #ebbceb;
}

body section#black li {
  color: #6b6174;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5% 5%;
}

@media (min-width: 560px) {
  body section#black p {
    font-size: 1.6rem;
  }
  body section#black img {
    max-width: 300px;
    margin-top: 5%;
  }
}

@media (min-width: 720px) {
  body section#black img {
    margin-left: 80px;
  }
  body section#black p {
    font-size: 1.8rem;
  }
  body section#black h1 {
    font-size: 3rem;
  }
  body section#black a {
    font-size: 2rem;
  }
}

@media (min-width: 996px) {
  body section#black img {
    margin-left: 50px;
    margin-right: 50px;
    -webkit-box-shadow: 0 0 20px 30px #beb7be;
            box-shadow: 0 0 20px 30px #beb7be;
    max-width: 350px;
  }
  body section#black p {
    font-size: 2rem;
  }
  body section#black img + p {
    margin-bottom: 5%;
  }
  body section#black li {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  body section#black p {
    font-size: 2.5rem;
  }
  body section#black a {
    font-size: 3rem;
  }
  body section#black li {
    font-size: 2rem;
  }
  body section#black img {
    max-width: 300px;
  }
}

body section#alchemist {
  background-image: url(../img/space.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: azure;
  font-weight: normal;
  -webkit-box-shadow: inset 0 10px 10px #e4dbe4;
          box-shadow: inset 0 10px 10px #e4dbe4;
}

body section#alchemist .clearfix {
  padding: 30px;
  padding-top: 5%;
}

body section#alchemist .clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body section#alchemist img {
  display: block;
  width: 30%;
  float: left;
  margin: 5% 10px 0 10px;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 5px 5px #e4dbe4;
          box-shadow: 0 0 5px 5px #e4dbe4;
}

body section#alchemist img:nth-of-type(2) {
  float: right;
  margin: auto;
  margin-left: auto;
  padding: 0;
}

body section#alchemist h1 {
  font-size: 2rem;
  font-weight: normal;
  float: left;
  width: 30%;
}

@media (max-width: 400px) {
  body section#alchemist h1 {
    font-size: 1.6rem;
  }
}

body section#alchemist p {
  text-align: justify;
  font-size: 1.6rem;
  margin: 20px 20px;
}

body section#alchemist a {
  text-decoration: none;
  color: greenyellow;
  text-transform: uppercase;
}

body section#alchemist a:hover {
  color: honeydew;
  background-color: yellowgreen;
}

body section#alchemist li {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}

body section#alchemist ul {
  padding-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 100;
}

@media (min-width: 720px) {
  body section#alchemist h1 {
    font-size: 3rem;
  }
  body section#alchemist p {
    font-size: 2rem;
    margin-left: 40px;
    margin-right: 40px;
  }
  body section#alchemist li {
    font-size: 1.8rem;
    margin-left: 40px;
  }
  body section#alchemist h1 + p {
    margin-top: 60px;
  }
  body section#alchemist img {
    margin-left: 40px;
  }
  body section#alchemist img + img {
    margin-right: 40px;
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  body section#alchemist p, body section#alchemist li {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  body section#alchemist h1 {
    font-size: 4rem;
  }
  body section#alchemist img {
    margin: 50px;
  }
  body section#alchemist img + img {
    margin: 50px;
  }
}

body section#jojo {
  font-size: 1.6rem;
  background-image: url(../img/banner-1711743__340.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  -webkit-box-shadow: inset 0 0 5px 5px red;
          box-shadow: inset 0 0 5px 5px red;
  letter-spacing: 0.7px;
  font-weight: 100;
}

body section#jojo div.bColor {
  background-color: rgba(134, 41, 41, 0.904);
  z-index: 100;
}

body section#jojo img {
  display: block;
  margin: 40px auto;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px 10px red;
          box-shadow: 0 0 10px 10px red;
}

body section#jojo img:nth-of-type(1) {
  width: 80vw;
}

body section#jojo h1 {
  padding-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2.5rem;
}

body section#jojo img + p {
  margin-bottom: 5px;
}

body section#jojo p {
  text-align: justify;
  padding: 0 20px;
}

body section#jojo a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

body section#jojo a:hover {
  background-color: white;
}

body section#jojo li {
  text-align: left;
}

body section#jojo ul {
  margin-left: 20px;
  padding-bottom: 40px;
}

@media (min-width: 720px) {
  body section#jojo div.container {
    padding: 0 20px;
  }
  body section#jojo h1 {
    font-size: 3.5rem;
  }
  body section#jojo p {
    font-size: 2.5rem;
  }
  body section#jojo a {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  body section#jojo img:nth-of-type(1) {
    width: 50vw;
  }
  body section#jojo p {
    font-size: 2.6rem;
  }
  body section#jojo li {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
  body section#jojo a {
    font-size: 3.5rem;
  }
  body section#jojo h1 {
    padding-top: 60px;
  }
}

body section#fate {
  background-image: url(../img/gold-313346__340.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 10px 10px #a18e1f;
          box-shadow: inset 0 0 10px 10px #a18e1f;
  color: #4d2222;
}

body section#fate div.first, body section#fate div.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  padding: 30px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #a18e1f;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section#fate img {
  display: block;
  width: 50vw;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 10px 10px #a18e1f;
          box-shadow: 0 0 10px 10px #a18e1f;
}

body section#fate img:nth-of-type(1) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

body section#fate h1 {
  text-transform: uppercase;
  padding-top: 40px;
  font-size: 2rem;
  border-bottom: 2px solid #a18e1f;
}

body section#fate p {
  text-align: justify;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.6rem;
}

body section#fate li {
  text-align: left;
  font-size: 1.3rem;
}

body section#fate ul {
  padding: 5px 0 20px 20px;
}

body section#fate div + p {
  padding-left: 20px;
}

body section#fate a {
  text-decoration: none;
  color: red;
  text-transform: uppercase;
}

body section#fate a:hover {
  background-color: #a18e1f;
}

@media (min-width: 720px) {
  body section#fate div.container {
    padding: 0 20px;
  }
  body section#fate div.container .second {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body section#fate div.container h1 {
    font-size: 3.5rem;
  }
  body section#fate div.container p {
    font-size: 2.5rem;
    width: 60vw;
  }
  body section#fate div.container a {
    font-size: 3rem;
  }
  body section#fate div.container li {
    font-size: 2.3rem;
  }
  body section#fate div.container img {
    width: 30vw;
  }
}

@media (min-width: 720px) and (min-width: 1200px) {
  body section#fate p {
    font-size: 3rem;
  }
  body section#fate h1 {
    margin-bottom: 50px;
  }
}

section#mo {
  background-image: url(../img/sunset-4086848__340.webp);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  color: #5f044b;
  -webkit-box-shadow: inset 0 0 10px 10px rgba(230, 195, 241, 0.637);
          box-shadow: inset 0 0 10px 10px rgba(230, 195, 241, 0.637);
}

section#mo h1 {
  font-size: 2.5rem;
  padding: 40px 0;
  margin: 0 20px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(230, 195, 241, 0.637);
}

section#mo div.container {
  z-index: 100;
}

section#mo p, section#mo li {
  font-size: 1.6rem;
  text-align: justify;
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section#mo .first, section#mo .second, section#mo .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(230, 195, 241, 0.637);
}

section#mo img {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 10px rgba(230, 195, 241, 0.637);
          box-shadow: 0 0 10px 10px rgba(230, 195, 241, 0.637);
}

section#mo .first img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 60vw;
}

section#mo .second img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

section#mo .third div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

section#mo .third div p {
  margin: 20px 0;
}

section#mo .third div li {
  margin: 5px 0;
}

section#mo .third img {
  width: 70vw;
}

section#mo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #09097e;
}

section#mo a:hover {
  background-color: rgba(9, 9, 126, 0.322);
}

@media (min-width: 720px) {
  section#mo h1 {
    font-size: 3rem;
  }
  section#mo p, section#mo li {
    font-size: 2.3rem;
  }
  section#mo .first, section#mo .second, section#mo .third {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  section#mo .first img, section#mo .second img, section#mo .third img {
    width: 40vh;
  }
}

@media (min-width: 1200px) {
  section#mo p, section#mo li {
    font-size: 2.6rem;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.alfa {
  background-color: rgba(219, 168, 219, 0.5) !important;
}

.superSchadow {
  -webkit-box-shadow: 0 0 10px 10px gray !important;
          box-shadow: 0 0 10px 10px gray !important;
}
/*# sourceMappingURL=style.css.map */